/* CSS Document */

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Bree+Serif);


/* .body {
	background: #212121;
	font-size:22px;
	line-height: 32px;
	color: #ffffff;
	word-wrap:break-word !important;
	font-family: 'Open Sans', sans-serif;
	} */

.h1 {
  font-size: 60px;
  text-align: center;
  color: #fff;
}

.h3 {
  font-size: 30px;
  text-align: center;
  color: #fff;
}

.h3 a {
  color: #fff;
}

.a {
  color: #fff;
}

.h1 {
  margin-top: 100px;
  text-align: center;
  font-size: 150px;
  font-family: 'Bree Serif', 'serif';
  color: #fff;
}

.container {
  margin: 0 auto;
}

.p {
  text-align: center;
  color: #fff;
  font-size: 100px;
}

.nav {
  margin: 50px 0;
  background-color: #e64a19;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}

.nav ul li {
  display: inline-block;
  background-color: #e64a19;
}

.nav a {
  display: block;
  padding: 0 10px;
  color: #fff;
  font-size: 20px;
  line-height: 60px;
  text-decoration: none;
}

.nav a:hover {
  background-color: #000000;
}

/* Hide Dropdowns by Default */
.nav ul ul {
  display: none;
  position: absolute;
  top: 60px; /* the height of the main nav */
}

/* Display Dropdowns on Hover */
.nav ul li:hover > ul {
  display: inherit;
}

/* Fisrt Tier Dropdown */
.nav ul ul li {
  width: 170px;
  float: none;
  display: list-item;
  position: relative;
}

/* Second, Third and more Tiers	*/
.nav ul ul ul li {
  position: relative;
  top: -60px;
  left: 170px;
}

.img {
  /* display: block; 
  margin: auto; */
  width: 28%;
   position:absolute;
  left:280px;
  z-index:2; 
}




/* @media screen and (min-width:900px) { 
  .img{
    width: 60px;
  }
} */

.img2 {
	/* display: block; */
	margin: auto;
	width: 28%;
	position:absolute;
	left:730px; 
	z-index:2;
  }
.img:hover {
  transform: scale(1.1, 1.1);
}

/* Change this in order to change the Dropdown symbol */
.link > a:after {
  content: ' +';
}
.link > a:only-child:after {
  content: '';
}
.h1{
  color: #fff;
  font-size: 80px;
}
.title {
  color: grey;
  font-size: 20px;
  width: 700px;
  padding: 20px;
  
}
.section{
  position:relative;
  color: white;
  left:50% ;
  width:300px;
  height:200px;

  /* text-align:right; */
}
.p1{
  position: relative;
  color: antiquewhite;
  left: 45px;
}
.icon{
  position: relative;
  text-align: right;
}
/*/profile card /*/

@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,600);

/* @media screen and (min-width:798px) { 
  .snip1336{
    width: 50%;
  }
} */
.snip1336:hover {
  transform: scale(1.1, 1.1);
}
.snip1336 {
  font-family: 'Roboto', Arial, sans-serif;
  position: relative; 
  overflow: hidden;
  margin: 20px;
  min-width: 300px;
  max-width: 450px; 
  width: 100%; 
  color: #ffffff;
  text-align: left;
  line-height: 1.4em;
  background-color: #141414;
  margin: 0 auto;
}
.snip1336 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  
}
.snip1336 img {
  max-width: 100%;
  vertical-align: top;
  opacity: 0.85;
 
}
.snip1336 figcaption {
  width: 100%;
  background-color: #141414;
  padding: 25px;
  position: relative;
}
.snip1336 figcaption:before {
  position: absolute;
  content: '';
  bottom: 100%;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 55px 0 0 400px;
  border-color: transparent transparent transparent #141414;
}
.snip1336 figcaption a {
  padding: 5px;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-size: 0.7em;
  text-transform: uppercase;
  margin: 10px 0;
  display: inline-block;
  opacity: 0.65;
  width: 47%;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
}
.snip1336 figcaption a:hover {
  opacity: 1;
}
.snip1336 .profile {
  border-radius: 50%;
  position: absolute;
  bottom: 100%;
  left: 25px;
  z-index: 1;
  max-width: 90px;
  opacity: 1;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}
.snip1336 .follow {
  margin-right: 4%;
  border-color: #2980b9;
  color: #2980b9;
}
.h2 {
  margin: 0 0 5px;
  font-weight: 300;
  font-size: 42px;
}
.h2 span {
  display: block;
  font-size: 0.5em;
  color: #2980b9;
}
.snip1336 p {
  margin: 0 0 10px;
  font-size: 0.8em;
  letter-spacing: 1px;
  opacity: 0.8;
}

.absolout{
  /* position:absolute; */
  /* left: 50%;
  top:400px; */
  /* margin: 0; */
  /* padding: 0;
  margin: 0 auto; */ 
  /* width:300px; */
  /* height:200px; */
  /* background-color:#FFB326; */
  /* position:absolute; 
  margin:0px auto; */
position: absolute;
top: 10%;
left: 45%;
}

.profile1{
  width: 60%;
  position:relative;
  top:5px;
  
  
  
} 

/* Demo purposes only */
/* $hover.mouseleave(
  function () {
    $(this).removeClass("hover");
  }
); */
