@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');



* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
 body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.8;
  font-size: 10px;
  background: rgb(7, 6, 6);
  font-size:22px;
  word-wrap:break-word !important; 
  background-image: url(https://res.cloudinary.com/dkla3sb3q/image/upload/v1623855839/987_642148a52e.jpg);
  /* https://res.cloudinary.com/dkla3sb3q/image/upload/v1623778883/_b9a77b7dfc.jpg */
} 
 /* body {
	background: #212121;
	font-size:22px;
	line-height: 32px;
	color: #ffffff;
	word-wrap:break-word !important;
	font-family: 'Open Sans', sans-serif;
	} */
  
.a {
  text-decoration: none;
  color: steelblue;
}
.p {
  margin: 10px 0;
}
.h1 {
  margin-bottom: 20px;
}
.btn {
  display: inline-block;
  background: red;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  border: 0;
  border-radius: 5px;
}
.btn:hover {
  opacity: 0.9;
}
.btn-secondary {
  font: inherit;
  font-size: 13px;
  background: #000;
  color: #fff !important;
  border: 0;
  border-radius: 5px;
  padding: 5px 15px;
  margin: 0 20px;
  cursor: pointer;
}
.btn-secondary:hover {
  opacity: 0.8;
}
.btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-icon svg {
  margin-right: 5px;
}
